.t{
	margin: 10px;
	font-size: 40px;
}
.logo-1{

}
.back{
	position: absolute;
	top: 0;
	left:; 0;
}
.front{
	position: absolute;
	top: 0;
	left:; 0;
}
<div style="color: lime; font-size: 70px; font-weight: 900; height: 100px; position: relative; left: 5px;  top: -67px;"><t id= "t">BTJ AIRLINE</t>

